<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load static %}
{% load markdownify %}

{% block inserts %}
	<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.formset.js"></script>
{% endblock %}

{% block authenticatedposts %}

<div class=index>
	<div class=displaybanner>
		<h3>
			Products:
		</h3>
	</div>
	<div class=possectionsort>
		<div id=possortnav>
			Sort: {{ loggedinanon.get_product_sort_display }}
		</div>
		<div class=dropdown-content-pos-sort>
			<div class=popular>
				<div class=az>
					<a href="{% url 'change_sort' 0 %}">A-Z</a>
				</div>
				<div class=za>
					<a href="{% url 'change_sort' 1 %}">Z-A</a>
				</div>
				<div class=sci>
					<a href="{% url 'change_sort' 2 %}">Sci</a>
				</div>
				<div class=new>
					<a href="{% url 'change_sort' 3 %}">New</a>
				</div>
				
			</div>
			<div class=stats>
				<div class=exp>
					<a href="{% url 'change_sort' 4 %}">Exp</a>
				</div>
				<div class=cheap>
					<a href="{% url 'change_sort' 5 %}">Cheap</a>
				</div>
				<div class=sold>
					<a href="{% url 'change_sort' 8 %}">Sold</a>
				</div>
				<div class=unsold>
					<a href="{% url 'change_sort' 9 %}">Unsold</a>
				</div>
			</div>
		</div>
	</div>

	<div class=products style="margin-left: 1em;">
		{% for product in products %}
			<div class=title>
				<h3><a href="{% url 'products' product.id 0 %}">{{ product.title }}</a></h3>
			</div>
			{% if request.user.username == 'home' %}
				<div class=delete style="position: absolute; right: 2em;">
					<h3><a href="{% url 'delete_product' product.id %}">X</a></h3>
				</div>
			{% endif %}
			<div class=description>
				{{ product.description|truncatechars:144|markdownify|linebreaks }}
			</div>
			<div class=img>
				<img src="{{ product.img }}">
			</div>
			<div class=price>
				${{ product.price }}
			</div>
			<div class=stock>
				Stock: {{ product.stock }}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}


{% block unauthenticated_posts %}
<div class=index>
	<div class=displaybanner>
		<h3>
			Products:
		</h3>
	</div>
	<div class=intro>
		ONLY DIRECT QUOTES OF PEER REVIEWED SCIENCE
	</div>
	<div class=possectionsort>
		<div id=possortnav>
			Sort: Report count
		</div>
		<div class=dropdown-content-pos-sort>
			<div class=popular>
				<div class=az>
					<a href="{% url 'change_sort' 0 %}">A-Z</a>
				</div>
				<div class=za>
					<a href="{% url 'change_sort' 1 %}">Z-A</a>
				</div>
				<div class=sci>
					<a href="{% url 'change_sort' 2 %}">Sci</a>
				</div>
				<div class=new>
					<a href="{% url 'change_sort' 3 %}">New</a>
				</div>
				
			</div>
			<div class=stats>
				<div class=exp>
					<a href="{% url 'change_sort' 4 %}">Exp</a>
				</div>
				<div class=cheap>
					<a href="{% url 'change_sort' 5 %}">Cheap</a>
				</div>
				<div class=sold>
					<a href="{% url 'change_sort' 8 %}">Sold</a>
				</div>
				<div class=unsold>
					<a href="{% url 'change_sort' 9 %}">Unsold</a>
				</div>
			</div>
		</div>
	</div>

	<div class=products style="margin-left: 1em;">
		{% for product in products %}
			<div class=title>
				<h3><a href="{% url 'products' product.id 0 %}">{{ product.title }}</a></h3>
			</div>

			<div class=description>
				{{ product.description|truncatechars:144|markdownify|linebreaks }}
			</div>
			<div class=img>
				<img src="{{ product.img }}">
			</div>
			<div class=price>
				${{ product.price }}
			</div>
			<div class=stock>
				{% if product.stock %}
				Stock: In stock
				{% else %}
				Stock: Out of stock
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
	</script>
{% endblock %}